/* ------------------------ Universal Styling ---------------- */
* {
    margin: 0;
    /* padding: 0; */
    list-style: none;
    text-decoration: none;
    /* I added the font line. */
    font-family: popins;
    background-color: #F1F1F2;
}


/* ------------------- HEADER AREA----------------- */
header {
    width: 100%;
    height: 80Px;
    display: block;
    background-color: #F1F1F2;
    /* position: absolute;  */
    /* top: 0; */
    border-bottom: 1px solid #2299AC;
}

.inner_header {
    /* Note:  Set the width to 90%.
    This will make the header responsive
    without using flex.*/
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    background-color: #F1F1F2;
}
        /* --------------Header Logo------------ */
.logo_container_head {
    height: 100%;
    display: table;
    float: left;
}

.logo_container_head img {
    /* color: White; */
    height: 100%;
    width: 110px;
    display: table-cell;
    vertical-align: middle;
}
        /* ---------------- HEADER NAV ----------- */
.navigation {
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

            /* Note:  Paddding for last menu item and border */
.navigation a:last-child {
    padding-right: 5px;
}
    

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #2299AC;
    /* font: popins; */
}
    /* Note Clearing float elements from header */
.clearfix-header {
    clear: both;
}

/* ----------------------- HERO IMAGE ------------------------ */
.hero_image_container {
    display:block;
    width: 100%;
    height: 400px;
}

.hero-image {
    background-image: linear-gradient(to right, RGBA(34, 153, 172,0.50), RGBA(69, 67, 60, 0.50) ),
                url("../img/People-Coding.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    
}

/*----------------------- MAIN SECTIONS ---------------------- */

    /* NOTE: Using Main As a Border for container. */
main {
    width: 100%;
    display: block;
}

article {
    display: block;
    padding: 10px 20%;
    align-content: center;
}

/* ------------------ THANKYOU PAGE ----------------*/
.thankyou-container {
    display: block;
    width: 100%;
}

.thankyou {
    width: 99%;
    display: block;
    text-align: center;
}

.thankyou-gif {
    display: block;
    align-content: center;
}



/*-------------------- CONTACT FORM ----------------*/
.contact_form {
    display: block;
    padding: 1% 40%;
}

.contact_form h1{
    text-align: center;
    
}

.contact_form input {
    width: 100%;
    border: 2px solid #45433C;
}

.contact_form textarea {
    width: 100%;
    border: 2px solid #45433C;
}

.contact_form Submit {
    width: 5px;
    padding-bottom: 20px;
}
/* ------------------- FOOTER AREA -----------------*/
footer {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #F1F1F2;
    position: absolute; 
    /* bottom: 0; */
    border-top: 1px solid #2299AC;
}

.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container_foot {
    width: 35%;
    float: left;
    display: block;
}

.inner_footer .logo_container_foot img {
    width: 90px;
    height: auto;
}

.inner_footer .footer_third {
    width: calc(21.6666666667% - 2.8%);
    margin-right: 1.4%;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last-child {
    margin-right: 0;
}

.inner_footer .footer_third h2 {
    font-family: popins;
    font-size: 22px;
    color: #45433C;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a {
    font-family: popins;
    font-size: 18px;
    color: #2299AC;
    display: block;
    font-weight: 200;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

a:visited {
    color: #45433C;
}

a:hover{
    color: #45433C;
    text-decoration: underline;
    
}

    /* Note:  Added this for a discription*/
.inner_footer .footer_third p {
    font: popins;
    font-size: 18px;
    color: #45433C;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 200;
    width: 100;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.inner_footer .footer_third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third span {
    color: #45433C;
    font-family: popins;
    font-size: 16px;
    font-weight: 200px;
    width: 100%;
    padding-top: 20px;
}

.copyright {
    text-align: center;
}

.copyright p{
    color: #2299AC;
}
